extends template

block head
		script.
		// Toggle challenge details
			$(document).ready(function() {
				$('.detail-toggle').click(function(){
					//Get the ID of the challenge whose info we want to see
					console.log("Here");
					var collapse_content_selector = $(this).attr('href') + "-details";
					console.log(collapse_content_selector);

					//Find the div with the same ID and change its CSS display attribute
					$("div").each(function(index) {
						if ($(this).attr('id') == collapse_content_selector){
							if ($(this).css('display') == 'none'){ //if hidden, reveal
								$(this).css('display', 'initial');
							}
							else{
								$(this).css('display', 'none'); //if visible, hide
							}
						}
					});
				});
			});

block content

		h1(class='h-pad') Challenges

		each challenge in challengelist
			div(class='grid row')
				div(class='col-4-5')
					a(id="#{challenge.challengeId}-name") #{challenge.title}

					// DETAILS: Collapsible panel, initially hidden
					div(id="#{challenge.challengeId}-details" style="display: none")
						h3 Problem:
							h4 #{challenge.problem}

						if (challenge.functionNames)
							h3 Function names:
								each functionName in challenge.functionNames
									h4 #{functionName}

						if (challenge.inputArray)
							h3 Inputs:
								each input in challenge.inputArray
									if (input.functionName)
										h5 Function name:
											h6 #{input.functionName}
										if (input.inputs)
											h5 Inputs:
												each subInput in input.inputs
													h6 #{subInput}
										else
											h4 #{input}

						if (challenge.outputArray)
							h3 Outputs:
								each output in challenge.outputArray
									if (output.functionName)
										h5 Function name:
											h6 #{output.functionName}
									if (output.outputs)
										h5 Outputs:
										div.editChallengeDataSubEntry
											each subOutput in output.outputs
												h6 #{subOutput}
									else
										h4 #{output}

				// ICONS:
				div(class='col-1-5 icons')
					// 1. View more details about challenge.
					a(onclick='toggleDetails(#{challenge.challengeId})')
						i(class='fa fa-plus-square-o fa-lg hover-blue', id="#{challenge.challengeId}-more") &nbsp; &nbsp;

					// 2. Assign/unassign challenge.
					if (challenge.visible)
						a(onclick='assignClick(#{challenge.challengeId})')
							i(class='fa fa-unlock-alt fa-lg hover-blue' id='#{challenge.challengeId}-assign') &nbsp; &nbsp;
					else
						a(onclick='assignClick(#{challenge.challengeId})')
							i(class='fa fa-lock fa-lg hover-blue' id='#{challenge.challengeId}-assign') &nbsp; &nbsp;

					// 3. View challenge code editor
					a(href=('/challenge/' + challenge.challengeId), target='_blank')
						i(class='fa fa-code fa-lg hover-blue') &nbsp; &nbsp;

					// 4. Delete challenge
					a(href='/challengelist' onclick='deleteClick(#{challenge.challengeId})')
						i(class='fa fa-times fa-lg hover-red') &nbsp; &nbsp;


		script.
			var socket = io.connect(!{ JSON.stringify(rootURL) });

			function toggleDetails(id) {
				// Toggle challenge details view
				var collapse_content_selector = id + "-details";

				//Find the div with the same ID and change its CSS display attribute
				$("div").each(function(index) {
					if ($(this).attr('id') == collapse_content_selector){
						if ($(this).css('display') == 'none'){ //if hidden, reveal
							$(this).css('display', 'initial');
						}
						else{
							$(this).css('display', 'none'); //if visible, hide
						}
					}
				});

				$("i#" + id + "-more").toggleClass("fa-plus-square-o fa-minus-square-o");
			};


			function assignClick(id) {
				// Update challenge in database
				socket.emit('updateChallengeVisibility', { challengeId: id });
				$("i#" + id + "-assign").toggleClass("fa-lock fa-unlock-alt");
			};

			function deleteClick(id) {
				socket.emit('deleteChallenge', { challengeId: id });
				location.reload();
			}
