doctype html
html
	head
		title Challenge #{id} 
		link(rel='stylesheet', href='../codemirror.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		//script(src='http://interactiveclassroom.herokuapp.com/socket.io/socket.io.js')
		script(src="../socket.io/socket.io.js")
		script(src='../codemirror.js')
		
		script.
			var socket = io.connect('http://localhost');
			//var socket = io.connect('http://interactiveclassroom.herokuapp.com');

			socket.on('connect', function () {
				console.log('Client: In connect!');
			});
			
	body
		h1 Challenge #{id}
		p This is challenge #{id}
		p #{problem}
		textarea(id='codeEditor') Write your code here!
		button(id='submitButton' type='button') Submit
		textarea(id='outputBox' rows='10' cols='50' disabled) Results
		script.
			var outputs = new Array(#{outputs});
			var inputs = !{ JSON.stringify(inputs) };
			var challengeId = Number(#{challengeId});
			console.log('inputs!!!');
			console.log(inputs[0]);
			console.log(inputs[1]);
			var functionName = '#{functionName}';
			var editor = CodeMirror.fromTextArea(document.getElementById("codeEditor"), 
			{
				lineNumbers: true,
				mode: "javascript"
			});
			
			$('#submitButton').click(function() {
				var failedTests = new Array();
				$('#outputBox').val('Results');
				console.log(editor.getValue());
				console.log("output = " + outputs.toString());
				eval(editor.getValue());
				total = inputs.length;
				correct = 0.0;
				for(var i in inputs) {
					console.log(inputs[i]);
					var output = eval(functionName+'(inputs[i])');
					if(output == outputs[i]) {
						correct += 1.0;
						$('#outputBox').val($('#outputBox').val() + '\nTest ' + i + ' PASSED'); 
					} else {
						failedTests.push(i);
						$('#outputBox').val($('#outputBox').val() + '\nTest ' + i + ' FAILED');
						$('#outputBox').val($('#outputBox').val() + '\nInput: ' + inputs[i]);
						$('#outputBox').val($('#outputBox').val() + '\nYour output: ' + output);
						$('#outputBox').val($('#outputBox').val() + '\nCorrect output: ' + outputs[i]);
					}
				}
				var percent = (100.0*correct/total);
				var message = '\n' + percent + '% Correct';
				$('#outputBox').val($('#outputBox').val() + message);
				console.log(message);
				
				// send data back to server
				socket.emit('results', { score: percent, user_id: 0, challenge_id: #{challengeId}, failed: failedTests });
			});