doctype html
html
	head
		title Challenge #{challengeId}
		link(rel='stylesheet', href='../css/codemirror.css')
		link(rel='stylesheet', href='../css/light-table.css')
		link(rel='stylesheet', href='../css/lint.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/style.css')

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		//script(src='http://interactiveclassroom.herokuapp.com/socket.io/socket.io.js')
		script(src="../socket.io/socket.io.js")

		script(src='../js/codemirror.js')
		script(src='../js/javascript-lint.js')
		script(src='../js/javascript.js')
		script(src='../js/jshint.js')
		script(src='../js/lint.js')
	body
		script.
			console.log("HELLO");
			console.log(!{ JSON.stringify(outputArray) });

		p(class='challengeTitle') Challenge #{challengeId}: #{title}
		p(class='challengeText') #{problem}
		div(id='leftPanel')
			textarea(id='codeEditor')
			button(id='submitButton' type='button') Submit
			button(id='emailButton' type='button') Email
		div(id='rightPanel')
			div(id='outputBox')
				p(class='challengeTitle') Results

		select(id='codeUnitList')
			option
				selected
				value='All'

		script(src='../js/console_capture.js')
		script.

			function arraysEqual(a, b)
			{
				if(typeof a != "object" && typeof b != "object")
				{
					return a==b;
				}

				if (a === b) return true;
				if (a == null || b == null) return false;
				if (a.length != b.length) return false;

				// If you don't care about the order of the elements inside
				// the array, you should sort both arrays here.

				for (var i = 0; i < a.length; ++i)
				{
					if (a[i] !== b[i]) return false;
				}
				return true;
			}

			var socket = io.connect('http://localhost');
			//var socket = io.connect('http://interactiveclassroom.herokuapp.com');

			var outputArray = !{ JSON.stringify(outputArray) };
			var inputArray = !{ JSON.stringify(inputArray) };

			var challengeId = Number(#{challengeId});

			var functionNames = !{ JSON.stringify(functionNames) };
			addFunctionOptions(functionNames);

			var editor = CodeMirror.fromTextArea(document.getElementById("codeEditor"),
			{
				lineNumbers: true,
				mode: "javascript",
				gutters: ["CodeMirror-lint-markers"],
				lint: true,
				theme: "light-table"
			});
			editor.setSize(540, 300);
			//editor.setValue(!{JSON.stringify(oldSub)});

			function addFunctionOptions(functionNames)
			{
				var select = document.getElementById("codeUnitList");
				for(i in functionNames)
				{
					var name = functionNames[i];
					var option = document.createElement("option");
					option.text = name;
					option.id = name;
					select.add(option);
				}
			}

			function evaluateFunction(functionName)
			{
				eval(editor.getValue());
				$('#outputBox').append('<p class="functionTitle">' + functionName + '</p>');

				var inputs = new Array();
				var outputs = new Array();
				var failedTests = new Array();

				for(var i in inputArray)
				{
					if(functionName == inputArray[i].functionName)
					{
						inputs = inputArray[i].inputs;
					}
				}
				for(var i in outputArray)
				{
					if(functionName == outputArray[i].functionName)
					{
						outputs = outputArray[i].outputs;
					}
				}

				var total = inputs.length;
				var correct = 0.0;

				for(var i in inputs)
				{
					var output = eval(functionName+'(inputs[i])');
					if(arraysEqual(output, outputs[i])) {
						correct += 1.0;
						$('#outputBox').append('<p class="correctResult">Test ' + i + ' passed</p>');
					} else {
						failedTests.push(i);
						$('#outputBox').append('<p class="incorrectResult">Test ' + i + ' failed<br />' +
												'Input: ' + inputs[i] + '<br />' +
												'Your output: ' + output + '<br />' +
												'Correct output: ' + outputs[i] + '</p>');
					}
				}

				return [total, correct, failedTests];
			}

			$('#emailButton').click(function() {
				
				var personsCode = editor.getValue();
				personsCode = personsCode.replace(/\n/g, '%0D%0A');
				personsCode = personsCode.replace(/\t/g, '    ');

				var personsSubject = #{title}

				window.open( 
					'mailto:first.middle.last.year@dartmouth.edu?'
					+ '&subject=Challenge ' + #{challengeId}
					+ '&body=' + personsCode
				);

			});

			$('#submitButton').click(function() {
				$('#outputBox').html('<p class="challengeTitle">Results</p>');

				var testIndex = document.getElementById("codeUnitList").selectedIndex;
				var testAll = (testIndex === 0);
				var functions = new Array();
				if (testAll)
				{
					functions = functionNames;
				} else
				{
					functions.push(document.getElementById("codeUnitList").options[testIndex].value);
				}

				totalTests = 0;
				correctTests = 0;
				var failedTests = new Array();
				for(var i in functions)
				{
					result = evaluateFunction(functions[i]);
					totalTests += result[0];
					correctTests += result[1];
					failedTests.push({functionName: functions[i], failedTests: result[2]});
				}

				var percent = (100.0 * correctTests / totalTests);
				$('#outputBox').append('<p class="challengeTitle">' + percent + "% Correct</p>");
			});
