doctype html
html
	head
		title Challenge #{challengeId}
		link(rel='stylesheet', href='../css/codemirror.css')
		link(rel='stylesheet', href='../css/light-table.css')
		link(rel='stylesheet', href='../css/lint.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/style.css')

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')

		script(src='../js/codemirror.js')
		script(src='../js/javascript-lint.js')
		script(src='../js/javascript.js')
		script(src='../js/jshint.js')
		script(src='../js/lint.js')
	body
		script.
			console.log(!{ JSON.stringify(outputArray) });

		p(class='challengeTitle') Challenge #{challengeId}: #{title}
		p(class='challengeText') #{problem}
		div(id='leftPanel')
			textarea(id='codeEditor')
			button(id='submitButton' type='button') Submit
			button(id='emailButton' type='button') Email
		div(id='middlePanel')
			div(id='consoleBox')
				p(class='challengeTitle') Console Output
		div(id='rightPanel')
			div(id='outputBox')
				p(class='challengeTitle') Results

		select(id='codeUnitList')
			option
				selected
				value='All'

		script(src='../js/console_capture.js')
		script(src='../js/challenge.js')
		script.
			var outputArray = !{ JSON.stringify(outputArray) };
			var inputArray = !{ JSON.stringify(inputArray) };

			var challengeId = Number(#{challengeId});

			var functionNames = !{ JSON.stringify(functionNames) };
			addFunctionOptions(functionNames);

			$('#emailButton').click(function() {
				test.apply(null, strings)

				var personsCode = editor.getValue();
				personsCode = personsCode.replace(/\n/g, '%0D%0A');
				personsCode = personsCode.replace(/\t/g, '    ');
				var personsSubject = #{title}

				window.open( 
					'mailto:first.middle.last.year@dartmouth.edu?'
					+ '&subject=Challenge ' + #{challengeId}
					+ '&body=' + personsCode
				);
			});
