doctype html
html
	head
		title Challenge #{id} 
		link(rel='stylesheet', href='../css/codemirror.css')
		link(rel='stylesheet', href='../css/lint.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		//script(src='http://interactiveclassroom.herokuapp.com/socket.io/socket.io.js')
		script(src='../socket.io/socket.io.js')
		script(src='../js/codemirror.js')
		script(src='../js/javascript-lint.js')
		script(src='../js/javascript.js')
		script(src='../js/jshint.js')
		script(src='../js/lint.js')

	body
		h1 Challenge #{id}
		p This is challenge #{id}
		p #{problem}
		textarea(id='codeEditor') Write your code here!
		button(id='submitButton' type='button') Submit
		textarea(id='outputBox' rows='10' cols='50' disabled) Results
		script.
			var outputs = new Array(#{outputs});
			var inputs = !{JSON.stringify(inputs)};

			var functionName = '#{functionName}';
			var editor = CodeMirror.fromTextArea(document.getElementById("codeEditor"), 
			{
				lineNumbers: true,
				mode: "javascript",
				gutters: ["CodeMirror-link-markers"],
				lint: true
			});
			
			$('#submitButton').click(function() {
				$('#outputBox').val('Results');
				console.log(editor.getValue());
				console.log("output = " + outputs.toString());
				eval(editor.getValue());
				total = inputs.length;
				correct = 0.0;
				for(var i in inputs) {
					console.log(inputs[i]);
					var output = eval(functionName+'(inputs[i])');
					if(output == outputs[i]) {
						correct += 1.0;
						$('#outputBox').val($('#outputBox').val() + '\nTest ' + i + ' PASSED'); 
					} else {
						$('#outputBox').val($('#outputBox').val() + '\nTest ' + i + ' FAILED');
						$('#outputBox').val($('#outputBox').val() + '\nInput: ' + inputs[i]);
						$('#outputBox').val($('#outputBox').val() + '\nYour output: ' + output);
						$('#outputBox').val($('#outputBox').val() + '\nCorrect output: ' + outputs[i]);
					}
				}
				message = '\n' + (100*correct/total) + '% Correct';
				$('#outputBox').val($('#outputBox').val() + message);
				console.log(message);
				});