doctype html
html
	head
		title Challenge #{challengeId} 
		link(rel='stylesheet', href='../css/codemirror.css')
		link(rel='stylesheet', href='../css/light-table.css')
		link(rel='stylesheet', href='../css/lint.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/style.css')
		
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		//script(src='http://interactiveclassroom.herokuapp.com/socket.io/socket.io.js')
		script(src="../socket.io/socket.io.js")
		
		script(src='../socket.io/socket.io.js')
		script(src='../js/codemirror.js')
		script(src='../js/javascript-lint.js')
		script(src='../js/javascript.js')
		script(src='../js/jshint.js')
		script(src='../js/lint.js')
	body
		p(class='challengeTitle') Challenge #{challengeId}
		p(class='challengeText') #{problem}
		div(id='leftPanel')
			textarea(id='codeEditor')
			button(id='submitButton' type='button') Submit
		div(id='rightPanel')
			div(id='outputBox')
				p(class='challengeTitle') Results
		script(src='../js/console_capture.js')
		script.

			function arraysEqual(a, b) {
				if (a === b) return true;
				if (a == null || b == null) return false;
				if (a.length != b.length) return false;

				// If you don't care about the order of the elements inside
				// the array, you should sort both arrays here.

				for (var i = 0; i < a.length; ++i) {
					if (a[i] !== b[i]) return false;
				}
				return true;
			}

			var socket = io.connect('http://localhost');
			//var socket = io.connect('http://interactiveclassroom.herokuapp.com');

			var socket = io.connect('http://localhost');
			//var socket = io.connect('http://interactiveclassroom.herokuapp.com');
			
			var outputs = !{ JSON.stringify(outputs) };
			var inputs = !{ JSON.stringify(inputs) };
			var challengeId = Number(#{challengeId});

			var functionName = '#{functionName}';
			var editor = CodeMirror.fromTextArea(document.getElementById("codeEditor"), 
			{
				lineNumbers: true,
				mode: "javascript",
				gutters: ["CodeMirror-lint-markers"],
				lint: true,
				theme: "light-table"
			});
			editor.setSize(540, 300);
			
			$('#submitButton').click(function() {
				var failedTests = new Array();
				$('#outputBox').html('<p class="challengeTitle">Results</p>');
				eval(editor.getValue());
				total = inputs.length;
				correct = 0.0;
				for(var i in inputs) {
					var output = eval(functionName+'(inputs[i])');
					if(arraysEqual(output, outputs[i])) {
						correct += 1.0;
						$('#outputBox').append('<p class="correctResult">Test ' + i + ' passed</p>');
					} else {
						failedTests.push(i);
						$('#outputBox').append('<p class="incorrectResult">Test ' + i + ' failed<br />' + 
												'Input: ' + inputs[i] + '<br />' + 
												'Your output: ' + output + '<br />' + 
												'Correct output: ' + outputs[i] + '</p>');
					}
				}
				var percent = (100.0 * correct / total);
				
				$('#outputBox').append('<p class="challengeTitle">' + percent + "% Correct</p>");
				
				// send data back to server
				socket.emit('results', { score: percent, user_id: 0, challenge_id: #{challengeId}, failed: failedTests });
			});