doctype html
html
    head
        title Edit Challenges
        link(rel='stylesheet', href='../css/style.css')
    body
        block content
            h1.
                Challenge List
            u1
                each challenge in challengelist
                    div.editChallengeEntry
                        h2.challengeTitle
                            p
                                div.editChallengeTitleText Challenge #{challenge.challengeId}: #{challenge.title}
                                form( method="post", action="/deletechallenge") 
                                    input(name="challengeId", type="hidden", value=challengelist.challengeId) 
                                    input(class="deleteButton", value="Delete", type="submit")
                        div.editChallengeData
                            p Problem: 
                            div.editChallengeDataEntry
                                p #{challenge.problem}
                            p Function names: 
                            div.editChallengeDataEntry
                                each functionName in challenge.functionNames
                                    p #{functionName}
                            p Inputs:
                            div.editChallengeDataEntry
                                each input in challenge.inputArray
                                    p Function name:
                                    div.editChallengeDataSubEntry
                                        p #{input.functionName}
                                    p Inputs:
                                    div.editChallengeDataSubEntry
                                        each subInput in input.inputs
                                            p #{subInput}
                            p Outputs: 
                            div.editChallengeDataEntry
                                each output in challenge.outputArray
                                    p Function name:
                                    div.editChallengeDataSubEntry
                                        p #{output.functionName}
                                    p Outputs:
                                    div.editChallengeDataSubEntry
                                        each subOutput in output.outputs
                                            p #{subOutput}
