doctype html
html
    head
        title Edit Challenges
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')
        link(rel='stylesheet', href='../css/style.css')
        link(rel='stylesheet', href='../css/normalize.css')

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
        
        script.
                $(document).ready(function() {
                    $('.nav-toggle').click(function(){
                        //Get the ID of the challenge whose info we want to see
                        var collapse_content_selector = $(this).attr('href');
                        
                        //Find the div with the same ID and change its CSS display attribute
                        $( "div" ).each(function(index) {
                            if ($(this).attr('id') == collapse_content_selector){
                                $(this).css('display', 'initial');
                            }
                        });
                    });
                 });

    body
        block content
            h1.
                Challenge List
            div(class='col-2-3' )
                u1
                   //Iterate through each challenge, get its info, put it in an invisible div
                   each challenge in challengelist
                        li(id='challengelist')
                                h2.challengeTitle
                                div(class='col-2-3')
                                   a(href="/challenge/#{challenge.challengeId}") #{challenge.title}
                                   div(id="#{challenge.challengeId}" style="display:none" title="test")
                                       p Problem:
                                       div.editChallengeDataEntry
                                           p #{challenge.problem}
                                       if (challenge.functionNames)
                                           p Function names: 
                                           div.editChallengeDataEntry
                                               each functionName in challenge.functionNames
                                                   p #{functionName}
                                       if (challenge.inputArray)
                                           p Inputs:
                                           div.editChallengeDataEntry
                                               each input in challenge.inputArray
                                                   if (input.functionName)
                                                       p Function name:
                                                       div.editChallengeDataSubEntry
                                                            p #{input.functionName}
                                                   if (input.inputs)
                                                       p Inputs:
                                                       div.editChallengeDataSubEntry
                                                            each subInput in input.inputs
                                                                 p #{subInput}
                                                   else
                                                       p #{input}
                                       if (challenge.outputArray)
                                           p Outputs: 
                                           div.editChallengeDataEntry
                                               each output in challenge.outputArray
                                                   if (output.functionName)
                                                       p Function name:
                                                       div.editChallengeDataSubEntry
                                                            p #{output.functionName}
                                                   if (output.outputs)
                                                       p Outputs:
                                                       div.editChallengeDataSubEntry
                                                            each subOutput in output.outputs
                                                                 p #{subOutput}
                                                   else
                                                       p #{output}
                                //Set up info button and save the challenge's ID
                                div(class='col-1-8' id='challengedelete' style='display:inline-block')
                                   button(class="nav-toggle" href="#{challenge.challengeId}") Info
                                //Set up delete button
                                div(class='col-1-8' id='challengedelete' style='display:inline-block')
                                   form( method="post", action="/deletechallenge") 
                                      input(name="challengeId", type="hidden", value=challenge.challengeId)
                                      input(class="deleteButton", value="Delete", type="submit")
                                 
                        
