doctype html
html
    head
        title User List

        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')

        link(rel='stylesheet', href='../css/normalize.css')
        link(rel='stylesheet', href='../css/style.css')
        link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")

    body
        div(class='grid grid-pad')
            div(class='col-1')
                h1 User List
                p(style='white-space:pre;')
                h2 Administrators
                u1
                    each user, i in adminlist
                        li(class='left-list-element clearfix') #{user.name}
                        li(class='right-list-element clearfix')
                            a(href='/admin/makeinstructor/#{user.id}')
                                i(class='fa fa-arrow-circle-down')

                p(style='white-space:pre;')
                h2 Instructors
                u1
                    each user, i in instructorlist
                        li(class='left-list-element clearfix' style='width:85%;') #{user.name}
                        li(class='right-list-element clearfix')
                            a(href='/admin/makeadmin/#{user.id}')
                                i(class='fa fa-arrow-circle-up')
                        li(class='right-list-element clearfix')
                            a(href='/admin/makestudent/#{user.id}')
                                i(class='fa fa-arrow-circle-down')

                p(style='white-space:pre;')
                h2 Students
                u1
                    each user, i in studentlist
                        li(class='left-list-element clearfix') #{user.name}
                        li(class='right-list-element clearfix')
                            a(href='/admin/makeinstructor/#{user.id}')
                                i(class='fa fa-arrow-circle-up')
