extends template

block head

block content
    h1(class='h-pad') Users

    h2(class='h-pad') Administrators

    each user in adminlist
        div(class='grid row')
            div(class='col-7-8')
                a #{user.name}
            div(class='col-1-8')
                a(href='/admin/makeinstructor/#{user.id}')
                    i(class='fa fa-arrow-circle-down fa-lg hover-blue')

    h2(class='h-pad') Instructors

    each user in instructorlist
        div(class='grid row')
            div(class='col-7-8')
                a #{user.name}
            div(class='col-1-8')
                a(href='/admin/makeadmin/#{user.id}')
                    i(class='fa fa-arrow-circle-up fa-lg hover-blue') &nbsp; &nbsp;
                a(href='/admin/makestudent/#{user.id}')
                    i(class='fa fa-arrow-circle-down fa-lg hover-blue')


    h2(class='h-pad') Students

    each user in studentlist
        div(class='grid row')
            div(class='col-7-8')
                a #{user.name}
            div(class='col-1-8')
                a(href='/admin/makeinstructor/#{user.id}')
                    i(class='fa fa-arrow-circle-up fa-lg hover-blue')
